<!DOCTYPE HTML>
<html lang="ko">
<head>
<Title>Chinese[BingYing]</Title>
</head>
<body>
<h4>1. 성모(자음)</h4>
<table border="1" style="text-align:center;width:300px;font-size:20px">
	<tr>
		<td>b</td>
		<td>p</td>
		<td>m</td>
		<td>f</td>
	</tr>
	<tr>
		<td>버</td>
		<td>퍼</td>
		<td>머</td>
		<td>포어</td>
	</tr>
	<tr>
		<td>d</td>
		<td>t</td>
		<td>n</td>
		<td>l</td>
	</tr>
	<tr>
		<td>뜨어</td>
		<td>트어</td>
		<td>느어</td>
		<td>을러</td>
	</tr>
	<tr>
		<td>g</td>
		<td>k</td>
		<td>h</td>
		<td></td>
	</tr>
	<tr>
		<td>끄어</td>
		<td>크어</td>
		<td>흐어</td>
		<td></td>
	</tr>
	<tr>
		<td>j</td>
		<td>q</td>
		<td>x</td>
		<td></td>
	</tr>
	<tr>
		<td>지</td>
		<td>치</td>
		<td>시</td>
		<td></td>
	</tr>
	<tr>
		<td>zh</td>
		<td>ch</td>
		<td>sh</td>
		<td>r</td>
	</tr>
	<tr>
		<td>즈</td>
		<td>츠</td>
		<td>스</td>
		<td>르</td>
	</tr>
	<tr>
		<td>z</td>
		<td>c</td>
		<td>s</td>
		<td></td>
	</tr>
	<tr>
		<td>쯔</td>
		<td>츠</td>
		<td>쓰</td>
		<td></td>
	</tr>
</table>
<h4>2. 운모(모음)</h4>
<table border="1" style="text-align:center;width:450px;font-size:20px">
	<thead>
		<td>a</td>
		<td>o</td>
		<td>e</td>
		<td>i</td>
		<td>u</td>
		<td>ü</td>
	</thead>
	<tr>
		<td>아</td>
		<td>오</td>
		<td>어</td>
		<td>이</td>
		<td>우</td>
		<td>위</td>
	</tr>
	<tr>
		<td>ai</td>
		<td>ou</td>
		<td>ei</td>
		<td>ia</td>
		<td>ua</td>
		<td>üe</td>
	</tr>
	<tr>
		<td>아이</td>
		<td>오우</td>
		<td>에이</td>
		<td>이아</td>
		<td>우아</td>
		<td>위에</td>
	</tr>
	<tr>
		<td>ao</td>
		<td>ong</td>
		<td>en</td>
		<td>ie</td>
		<td>uo</td>
		<td>üan</td>
	</tr>
	<tr>
		<td>아오</td>
		<td>옹</td>
		<td>언</td>
		<td>이에</td>
		<td>우오</td>
		<td>위엔</td>
	</tr>
	<tr>
		<td>an</td>
		<td></td>
		<td>eng</td>
		<td>iao</td>
		<td>uai</td>
		<td>ün</td>
	</tr>
	<tr>
		<td>안</td>
		<td></td>
		<td>엉</td>
		<td>이아오</td>
		<td>우아이</td>
		<td>윈</td>
	</tr>
	<tr>
		<td>ang</td>
		<td></td>
		<td>er</td>
		<td>iou,iu</td>
		<td>uei,ui</td>
		<td></td>
	</tr>
	<tr>
		<td>앙</td>
		<td></td>
		<td>얼</td>
		<td>요우,이우</td>
		<td>웨이,우이</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>ian</td>
		<td>uan</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>이안</td>
		<td>우안</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>in</td>
		<td>uen,un</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>인</td>
		<td>우언,운</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>iang</td>
		<td>uang</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>이앙</td>
		<td>우앙</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>ing</td>
		<td>ueng</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>잉</td>
		<td>우엉</td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>iong</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td>이옹</td>
		<td></td>
		<td></td>
	</tr>
</table>
<h4>3. 성조(높낮이)</h4>
<table border="1" style="text-align:center;width:300px;font-size:20px">
	<thead>
		<td>1성</td>
		<td>2성</td>
		<td>3성</td>
		<td>4성</td>
		<td>경성</td>
	</thead>
	<tr>
		<td>ā</td>
		<td>á</td>
		<td>ă</td>
		<td>à</td>
		<td>.</td>
	</tr>
</table>
<!---
<h4>4. Case by Case</h4>
<table border="1" style="text-align:center;width:300px;font-size:20px">
	<thead>
		<td>-</td>
		<td>a</td>
		<td>o</td>
		<td>e</td>
		<td>yi</td>
		<td>wu</td>
		<td>yu</td>
	</thead>
	<tr>
		<td>-</td>
		<td>아</td>
		<td>오</td>
		<td>어</td>
		<td>이</td>
		<td>우</td>
		<td>위</td>
	</tr>
	<tr>
		<td>b</td>
		<td>ba</td>
		<td>bo</td>
		<td>be</td>
		<td>bi</td>
		<td>bu</td>
		<td>bv</td>
	</tr>
	<tr>
		<td>b</td>
		<td>빠</td>
		<td>뽀</td>
		<td>뻐</td>
		<td>삐</td>
		<td>뿌</td>
		<td>쀠</td>
	</tr>
</table>
--->
</body>
</html>
