<!DOCTYPE HTML>
<html lang="ko">
<head>
<Title>Japanese</Title>
</head>
<body>
<h4>1. ひらがな(hiragana)</h4>
<table border="1" style="font-size:25px;text-align:center">
	<thead>
		<td></td>
		<td>a</td>
		<td>i</td>
		<td>u</td>
		<td>e</td>
		<td>o</td>
	</thead>
	<tr>
		<td>-</td>
		<td>あ</td>
		<td>い</td>
		<td>う</td>
		<td>え</td>
		<td>お</td>
	</tr>
	<tr>
		<td>k</td>
		<td>か</td>
		<td>き</td>
		<td>く</td>
		<td>け</td>
		<td>こ</td>
	</tr>
	<tr>
		<td>s</td>
		<td>さ</td>
		<td>し</td>
		<td>す</td>
		<td>せ</td>
		<td>そ</td>
	</tr>
	<tr>
		<td>t</td>
		<td>た</td>
		<td>ち</td>
		<td>つ</td>
		<td>て</td>
		<td>と</td>
	</tr>
	<tr>
		<td>n</td>
		<td>な</td>
		<td>に</td>
		<td>ぬ</td>
		<td>ね</td>
		<td>の</td>
	</tr>
	<tr>
		<td>h</td>
		<td>は</td>
		<td>ひ</td>
		<td>ふ</td>
		<td>へ</td>
		<td>ほ</td>
	</tr>
	<tr>
		<td>m</td>
		<td>ま</td>
		<td>み</td>
		<td>む</td>
		<td>め</td>
		<td>も</td>
	</tr>
	<tr>
		<td>y</td>
		<td>や</td>
		<td></td>
		<td>ゆ</td>
		<td></td>
		<td>よ</td>
	</tr>
	<tr>
		<td>r</td>
		<td>ら</td>
		<td>り</td>
		<td>る</td>
		<td>れ</td>
		<td>ろ</td>
	</tr>
	<tr>
		<td>w</td>
		<td>わ</td>
		<td></td>
		<td>ん</td>
		<td></td>
		<td>を</td>
	</tr>

</table>
<h4 style="position:absolute;left:250px;top:0px">2. カタカナ(katakana)</h4>
<table border="1" style="font-size:25px;text-align:center;position:absolute;left:250px;top:65px">
	<thead>
		<td></td>
		<td>a</td>
		<td>i</td>
		<td>u</td>
		<td>e</td>
		<td>o</td>
	</thead>
	<tr>
		<td>-</td>
		<td>ア</td>
		<td>イ</td>
		<td>ウ</td>
		<td>エ</td>
		<td>オ</td>
	</tr>
	<tr>
		<td>k</td>
		<td>カ</td>
		<td>キ</td>
		<td>ク</td>
		<td>ケ</td>
		<td>コ</td>
	</tr>
	<tr>
		<td>s</td>
		<td>サ</td>
		<td>シ</td>
		<td>ス</td>
		<td>セ</td>
		<td>ソ</td>
	</tr>
	<tr>
		<td>t</td>
		<td>タ</td>
		<td>チ</td>
		<td>ツ</td>
		<td>テ</td>
		<td>ト</td>
	</tr>
	<tr>
		<td>n</td>
		<td>ナ</td>
		<td>ニ</td>
		<td>ヌ</td>
		<td>ネ</td>
		<td>ノ</td>
	</tr>
	<tr>
		<td>h</td>
		<td>ハ</td>
		<td>ヒ</td>
		<td>フ</td>
		<td>ヘ</td>
		<td>ホ</td>
	</tr>
	<tr>
		<td>m</td>
		<td>マ</td>
		<td>ミ</td>
		<td>ム</td>
		<td>メ</td>
		<td>モ</td>
	</tr>
	<tr>
		<td>y</td>
		<td>ヤ</td>
		<td></td>
		<td>ユ</td>
		<td></td>
		<td>ヨ</td>
	</tr>
	<tr>
		<td>r</td>
		<td>ラ</td>
		<td>リ</td>
		<td>ル</td>
		<td>レ</td>
		<td>ロ</td>
	</tr>
	<tr>
		<td>w</td>
		<td>ワ</td>
		<td></td>
		<td>ン</td>
		<td></td>
		<td>ヲ</td>
	</tr>

</table>
<h4>漢字(KanJi)</h4>
</body>
</html>