<!DOCTYPE HTML>
<html lang="ko">
<head>
<Title>Korean Unicode</Title>
</head>
<body>
<h4>0. 한글 유니코드 시작코드 = AC00(16진수) = "가"</h4>
<h4>1. 초성(자음)</h4>
<table border="1">
	<thead>
		<td>0</td>
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
		<td>6</td>
		<td>7</td>
		<td>8</td>
		<td>9</td>
		<td>10</td>
		<td>11</td>
		<td>12</td>
		<td>13</td>
		<td>14</td>
		<td>15</td>
		<td>16</td>
		<td>17</td>
		<td>18</td>
	</thead>
	<tr>
		<td>ㄱ</td>
		<td>ㄲ</td>
		<td>ㄴ</td>
		<td>ㄷ</td>
		<td>ㄸ</td>
		<td>ㄹ</td>
		<td>ㅁ</td>
		<td>ㅂ</td>
		<td>ㅃ</td>
		<td>ㅅ</td>
		<td>ㅆ</td>
		<td>ㅇ</td>
		<td>ㅈ</td>
		<td>ㅉ</td>
		<td>ㅊ</td>
		<td>ㅋ</td>
		<td>ㅌ</td>
		<td>ㅍ</td>
		<td>ㅎ</td>
	</tr>
</table>
<h4>2. 중성(모음)</h4>
<table border="1">
	<thead>
		<td>0</td>
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
		<td>6</td>
		<td>7</td>
		<td>8</td>
		<td>9</td>
		<td>10</td>
		<td>11</td>
		<td>12</td>
		<td>13</td>
		<td>14</td>
		<td>15</td>
		<td>16</td>
		<td>17</td>
		<td>18</td>
		<td>19</td>
		<td>20</td>
	</thead>
	<tr>
		<td>ㅏ</td>
		<td>ㅐ</td>
		<td>ㅑ</td>
		<td>ㅒ</td>
		<td>ㅓ</td>
		<td>ㅔ</td>
		<td>ㅕ</td>
		<td>ㅖ</td>
		<td>ㅗ</td>
		<td>ㅘ</td>
		<td>ㅙ</td>
		<td>ㅚ</td>
		<td>ㅛ</td>
		<td>ㅜ</td>
		<td>ㅝ</td>
		<td>ㅞ</td>
		<td>ㅟ</td>
		<td>ㅠ</td>
		<td>ㅡ</td>
		<td>ㅢ</td>
		<td>ㅣ</td>
	</tr>
</table>
<h4>3. 종성(받침)</h4>
<table border="1">
	<thead>
		<td>0</td>
		<td>1</td>
		<td>2</td>
		<td>3</td>
		<td>4</td>
		<td>5</td>
		<td>6</td>
		<td>7</td>
		<td>8</td>
		<td>9</td>
		<td>10</td>
		<td>11</td>
		<td>12</td>
		<td>13</td>
		<td>14</td>
		<td>15</td>
		<td>16</td>
		<td>17</td>
		<td>18</td>
		<td>19</td>
		<td>20</td>
		<td>21</td>
		<td>22</td>
		<td>23</td>
		<td>24</td>
		<td>25</td>
		<td>26</td>
		<td>27</td>
	</thead>
	<tr>
		<td></td>
		<td>ㄱ</td>
		<td>ㄲ</td>
		<td>ㄳ</td>
		<td>ㄴ</td>
		<td>ㄵ</td>
		<td>ㄶ</td>
		<td>ㄷ</td>
		<td>ㄹ</td>
		<td>ㄺ</td>
		<td>ㄻ</td>
		<td>ㄼ</td>
		<td>ㄽ</td>
		<td>ㄾ</td>
		<td>ㄿ</td>
		<td>ㅀ</td>
		<td>ㅁ</td>
		<td>ㅂ</td>
		<td>ㅄ</td>
		<td>ㅅ</td>
		<td>ㅆ</td>
		<td>ㅇ</td>
		<td>ㅈ</td>
		<td>ㅊ</td>
		<td>ㅋ</td>
		<td>ㅌ</td>
		<td>ㅍ</td>
		<td>ㅎ</td>
	</tr>
</table>
<h4>※ 코드값 구하는 방법</h4>
<p>
1. 초기값 AC00<br>
2. 종성(받침)의 번호값 가산<br>
3. 중성(모음)의 값 * 28의 값을 가산 (28은 종성 종류의 개수)<br>
4. 초성(자음)의 값 * 28 * 21의 값을 가산 (21은 중성의 종류의 개수)<br>
ex) "돌"의 유니코드값<br>
① -> ㄷ,ㅗ,ㄹ 의 번호 = 3, 8, 8<br>
② -> 3*21*28 + 8*28 + 8 = 1764 + 224 + 8 = 1996 = 7cc(16진수)<br>
③ -> AC00 + 7CC = B3CC

</p>
</body>
</html>
