<!DOCTYPE HTML>
<html lang="ko">
<head>
<Title>CNC Lathe Program Code</Title>
</head>
<body>
<h4>1. G-Code</h4>
<table border="1" style="font-size:25px;">
	<thead style="text-align:center">
		<td>Code Label</td>
		<td width="500">Argument</td>
		<td width="700">Function</td>
		<td>Group</td>
	</thead>
	<tr>
		<td>G00</td>
		<td>X[U]#.# Z[W]#.#</td>
		<td>Rapid Position Move(급속이송)</td>
		<td rowspan="4">01</td>
	</tr>
	<tr>
		<td>G01</td>
		<td>X[U]#.# Z[W]#.#</td>
		<td>Linear Cutting(직선가공)</td>
	</tr>
	<tr>
		<td>G02</td>
		<td>X[U]#.# Z[W]#.# R#.#</td>
		<td>CW Rotate Cutting(시계 원호가공)</td>
	</tr>
	<tr>
		<td>G03</td>
		<td>X[U]#.# Z[W]#.# R#.#</td>
		<td>CCW Rotate Cutting(반시계 원호가공)</td>
	</tr>
	<tr>
		<td>G04</td>
		<td>X#.#<br>P#</td>
		<td>Dwell(휴지, 이동정지)</td>
		<td>00</td>
	</tr>
	<tr>
		<td>G20</td>
		<td></td>
		<td>Set Unit-inch(inch단위계)</td>
		<td></td>
	</tr>
	<tr>
		<td>G21</td>
		<td></td>
		<td>Set Unit-mm(mm단위계)</td>
		<td></td>
	</tr>
	<tr>
		<td>G28</td>
		<td>U#.# W#.#</td>
		<td>Origin(원점복귀)</td>
		<td></td>
	</tr>
	<tr>
		<td>G40</td>
		<td></td>
		<td>Radius of Built-in Edge Offset Cancel(공구인선 반경 보정취소)</td>
		<td></td>
	</tr>
	<tr>
		<td>G41</td>
		<td></td>
		<td>Radius of Built-in Edge Left-Offset(공구인선 반경 좌보정)</td>
		<td></td>
	</tr>
	<tr>
		<td>G42</td>
		<td></td>
		<td>Radius of Built-in Edge Right-Offset(공구인선 반경 우보정)</td>
		<td></td>
	</tr>
	<tr>
		<td>G50</td>
		<td>X#.# Z#.#<br>S#</td>
		<td>Work Coordinate(공작물 좌표계 설정)<br>Max-Spindle Limit(주축회전속도 제한)</td>
		<td></td>
	</tr>
	<tr>
		<td>G70</td>
		<td>P# Q# F#</td>
		<td>Finishing Cycle(정삭 사이클)</td>
		<td></td>
	</tr>
	<tr>
		<td>G71</td>
		<td>U#.# R#.#<br>P# Q# U#.# W#.# F#</td>
		<td>Roughing Cycle(황삭 사이클)</td>
		<td></td>
	</tr>
	<tr>
		<td>G72</td>
		<td>W#.# R#.#<br>P# Q# U#.# W#.# F#</td>
		<td>Face Roughing Cycle(단면 황삭 사이클)</td>
		<td></td>
	</tr>
	<tr>
		<td>G74</td>
		<td>R#.#<br>Z#.# Q# F#</td>
		<td>High-Speed Hole drill Cycle(고속 심공드릴 사이클)</td>
		<td></td>
	</tr>
	<tr>
		<td>G76</td>
		<td>P###### Q# R#<br>X#.# Z#.# P# Q# R# F#</td>
		<td>Auto Screw Cycle(자동나사 사이클)</td>
		<td></td>
	</tr>
	<tr>
		<td>G90</td>
		<td>X#.# Z#.# R#.# F#</td>
		<td>Cylindrical Cutting Cycle(내외경 절삭 사이클)</td>
		<td></td>
	</tr>
	<tr>
		<td>G92</td>
		<td>X#.# Z#.# R#.# F#</td>
		<td>Screw Cutting Cycle(나사가공 사이클)</td>
		<td></td>
	</tr>
	<tr>
		<td>G94</td>
		<td>X#.# Z#.# F#</td>
		<td>Face Cutting Cycle(단면가공 사이클)</td>
		<td></td>
	</tr>
	<tr>
		<td>G96</td>
		<td>S#</td>
		<td>Set Constant Spindle(주속 일정제어 설정)</td>
		<td></td>
	</tr>
	<tr>
		<td>G97</td>
		<td></td>
		<td>Reset Constant Spindle(주속 일정제어 해제)</td>
		<td></td>
	</tr>
</table>
<h4>2. M-Code</h4>
<table border="1" style="font-size:25px;">
	<thead style="text-align:center">
		<td>Code Label</td>
		<td width="700">Function</td>
	</thead>
	<tr>
		<td>M00</td>
		<td>Program Stop(프로그램 정지)</td>
	</tr>
	<tr>
		<td>M01</td>
		<td>Optional Program Stop(조건부 프로그램 정지)</td>
	</tr>
	<tr>
		<td>M02</td>
		<td>Program End(프로그램 종료)</td>
	</tr>
	<tr>
		<td>M03</td>
		<td>Spindle Rotation CW(주축 정회전)</td>
	</tr>
	<tr>
		<td>M04</td>
		<td>Spindle Rotation CCW(주축 역회전)</td>
	</tr>
	<tr>
		<td>M05</td>
		<td>Spindle Stop(주축 정지)</td>
	</tr>
	<tr>
		<td>M08</td>
		<td>Coolant ON(절삭유 ON)</td>
	</tr>
	<tr>
		<td>M09</td>
		<td>Coolant Off(절삭유 Off)</td>
	</tr>
	<tr>
		<td>M30</td>
		<td>Program Restart(프로그램 재실행)</td>
	</tr>
	<tr>
		<td>M98</td>
		<td>Sub Program Call(보조프로그램 실행)</td>
	</tr>
	<tr>
		<td>M99</td>
		<td>Sub Program End(보조프로그램 종료)</td>
	</tr>
	</table>

</body>
</html>