<!DOCTYPE HTML>
<html lang="ko">
<head>
<Title>CNC Miling & MCT Program Code</Title>
</head>
<body>
<h4>1. G-Code</h4>
<table border="1" style="font-size:25px;">
	<thead style="text-align:center">
		<td>Code Label</td>
		<td width="500">Argument</td>
		<td width="700">Function</td>
		<td>Group</td>
	</thead>
	<tr>
		<td>G00</td>
		<td>X#.# Y#.# Z#.#</td>
		<td>Rapid Position Move(급속이송)</td>
		<td rowspan="4">01</td>
	</tr>
	<tr>
		<td>G01</td>
		<td>X#.# Y#.# Z#.# F#</td>
		<td>Linear Cutting(직선가공)</td>
	</tr>
	<tr>
		<td>G02</td>
		<td>X#.# Y#.# Z#.# R#.# F#</td>
		<td>CW Rotate Cutting(시계 원호가공)</td>
	</tr>
	<tr>
		<td>G03</td>
		<td>X#.# Y#.# Z#.# R#.# F#</td>
		<td>CCW Rotate Cutting(반시계 원호가공)</td>
	</tr>
	<tr>
		<td>G04</td>
		<td>X#.#<br>P#</td>
		<td>Dwell(휴지, 이동정지)</td>
		<td>00</td>
	</tr>
	<tr>
		<td>G17</td>
		<td></td>
		<td>Select X-Y Plane(XY평면지정)</td>
		<td rowspan="3">02</td>
	</tr>
	<tr>
		<td>G18</td>
		<td></td>
		<td>Select Z-X Plane(ZX평면지정)</td>
	</tr>
	<tr>
		<td>G19</td>
		<td></td>
		<td>Select Y-Z Plane(YZ평면지정)</td>
	</tr>
	<tr>
		<td>G20</td>
		<td></td>
		<td>Set Unit-inch(inch단위계 선택)</td>
		<td rowspan="2">06</td>
	</tr>
	<tr>
		<td>G21</td>
		<td></td>
		<td>Set Unit-mm(mm단위계 선택)</td>
	</tr>
	<tr>
		<td>G28</td>
		<td>X#.# Y#.# Z#.#</td>
		<td>Origin(기계좌표 원점복귀)</td>
		<td rowspan="2">00</td>
	</tr>
	<tr>
		<td>G30</td>
		<td>X#.# Y#.# Z#.#</td>
		<td>제2 원점복귀(Z축원점)</td>
	</tr>
	<tr>
		<td>G40</td>
		<td>G00 X#.# Y#.#</td>
		<td>Cancel Diameter Offset(공구경보정 취소)</td>
		<td rowspan="3">07</td>
	</tr>
	<tr>
		<td>G41</td>
		<td>G01 X#.# Y#.# D##</td>
		<td>Left Diameter Offset(좌측 공구경보정)</td>
	</tr>
	<tr>
		<td>G42</td>
		<td>G01 X#.# Y#.# D##</td>
		<td>Right Diameter Offset(우측 공구경보정)</td>
	</tr>
	<tr>
		<td>G43</td>
		<td>G01 Z#.# H##</td>
		<td>Tool Height Offset+(공구장보정 가산)</td>
		<td rowspan="3">08</td>
	</tr>
	<tr>
		<td>G44</td>
		<td>G01 Z#.# H##</td>
		<td>Tool Height Offset-(공구장보정 감산)</td>
	</tr>
	<tr>
		<td>G49</td>
		<td>G01 Z#.#</td>
		<td>Tool Height Offset Cancel(공구장보정 취소)</td>
	</tr>
	<tr>
		<td>G54</td>
		<td></td>
		<td>Select Coordinate of Work1(워크좌표계1 선택)</td>
		<td rowspan="6">17</td>
	</tr>
	<tr>
		<td>G55</td>
		<td></td>
		<td>Select Coordinate of Work2(워크좌표계2 선택)</td>
	</tr>
	<tr>
		<td>G56</td>
		<td></td>
		<td>Select Coordinate of Work3(워크좌표계3 선택)</td>
	</tr>
	<tr>
		<td>G57</td>
		<td></td>
		<td>Select Coordinate of Work4(워크좌표계4 선택)</td>
	</tr>
	<tr>
		<td>G58</td>
		<td></td>
		<td>Select Coordinate of Work5(워크좌표계5 선택)</td>
	</tr>
	<tr>
		<td>G59</td>
		<td></td>
		<td>Select Coordinate of Work6(워크좌표계6 선택)</td>
	</tr>
	<tr>
		<td>G73</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# P# K# F#</td>
		<td>High-Speed Perk Drilling Cycle(고속 펙드릴 사이클)</td>
		<td rowspan="13">09</td>
	</tr>
	<tr>
		<td>G74</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# K# F#</td>
		<td>Reverse Tapping Cycle(역방향 탭 사이클)</td>
	</tr>
	<tr>
		<td>G76</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# Q# K# F#</td>
		<td>High-Speed Perk Drilling Cycle(고속 펙드릴 사이클)</td>
	</tr>
	<tr>
		<td>G80</td>
		<td></td>
		<td>Cycle Cancel(사이클 기능 취소)</td>
	</tr>
	<tr>
		<td>G81</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# K# F#</td>
		<td>Drilling Cycle(일반 드릴 사이클)</td>
	</tr>
	<tr>
		<td>G82</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# P# K# F#</td>
		<td>Counter Boring Cycle(카운터보링 사이클)</td>
	</tr>
	<tr>
		<td>G83</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# Q# K# F#</td>
		<td>Perk Drilling Cycle(펙드릴 사이클)</td>
	</tr>
	<tr>
		<td>G84</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# K# F#</td>
		<td>Tapping Cycle(탭 사이클)</td>
	</tr>
	<tr>
		<td>G85</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# K# F#</td>
		<td>General Boring Cycle(일반 보링 사이클)</td>
	</tr>
	<tr>
		<td>G86</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# K# F#</td>
		<td>Boring Cycle(보링 사이클)</td>
	</tr>
	<tr>
		<td>G87</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# Q# K# F#</td>
		<td>Back boring Cycle(후면 보링 사이클)</td>
	</tr>
	<tr>
		<td>G88</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# P# K# F#</td>
		<td>Boring Cycle(보링 사이클)</td>
	</tr>
	<tr>
		<td>G89</td>
		<td>{G98/G99} X#.# Y#.# Z#.# R#.# P# K# F#</td>
		<td>Boring Cycle(보링 사이클)</td>
	</tr>
	<tr>
		<td>G90</td>
		<td></td>
		<td>Absolute(절대좌표 지령)</td>
		<td rowspan="2">03</td>
	</tr>
	<tr>
		<td>G91</td>
		<td></td>
		<td>Incremental(상대좌표 지령)</td>
	</tr>
	<tr>
		<td>G94</td>
		<td></td>
		<td>Feed per Min(분당 이송)</td>
		<td rowspan="2">05</td>
	</tr>
	<tr>
		<td>G95</td>
		<td></td>
		<td>Feed per Rev(회전당 이송)</td>
	</tr>
	<tr>
		<td>G98</td>
		<td></td>
		<td>Cycle Initial Level 복귀</td>
		<td rowspan="2">10</td>
	</tr>
	<tr>
		<td>G99</td>
		<td></td>
		<td>Cycle R-point Level 복귀</td>
	</tr>
</table>
<h4>2. M-Code</h4>
<table border="1" style="font-size:25px;">
	<thead style="text-align:center">
		<td>Code Label</td>
		<td width="700">Function</td>
	</thead>
	<tr>
		<td>M00</td>
		<td>Program Stop(프로그램 정지)</td>
	</tr>
	<tr>
		<td>M01</td>
		<td>Optional Program Stop(조건부 프로그램 정지)</td>
	</tr>
	<tr>
		<td>M02</td>
		<td>Program End(프로그램 종료)</td>
	</tr>
	<tr>
		<td>M03</td>
		<td>Spindle Rotation CW(주축 정회전)</td>
	</tr>
	<tr>
		<td>M04</td>
		<td>Spindle Rotation CCW(주축 역회전)</td>
	</tr>
	<tr>
		<td>M05</td>
		<td>Spindle Stop(주축 정지)</td>
	</tr>
	<tr>
		<td>M06</td>
		<td>Tool Change(공구 교환)</td>
	</tr>
	<tr>
		<td>M08</td>
		<td>Coolant ON(절삭유 ON)</td>
	</tr>
	<tr>
		<td>M09</td>
		<td>Coolant Off(절삭유 Off)</td>
	</tr>
	<tr>
		<td>M19</td>
		<td>Spindle Orientation(한 방향 주축정지)</td>
	</tr>
	<tr>
		<td>M30</td>
		<td>Program Restart(프로그램 재실행)</td>
	</tr>
	<tr>
		<td>M98</td>
		<td>Sub Program Call(보조프로그램 실행)</td>
	</tr>
	<tr>
		<td>M99</td>
		<td>Sub Program End(보조프로그램 종료)</td>
	</tr>
	</table>

</body>
</html>